@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.container-fluid {
  font-family: 'Open Sans', sans-serif;
}

body h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight:800;
}

/*navbar*/

.navbar {
  background-color: #FFCC00;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.navbar-header .navbar-nav li a {
  font-size: 18px;
}

.fa {
  color: #fff;
}

button .navbar .navbar-toggle {
  background-color: #000;
}

.navbar .navbar-toggle {
  background-color: #000;
  border: 1px solid black;
}

.navbar a {
  color: #000;
}

.navbar ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/*Desktop version*/

/*landing page */

.bg1 {
  background-color: #fff;
  height: 768px;
}

.bg1 h2 {
  font-size: 40px;
  margin-top: 150px;
}

.bg1 h3 {
  margin-top: 50px;
  font-size: 28px;
}
.bg1 form {
  margin-top: 50px;
}

.bg1 ul li {
  font-size: 28px;
  margin-top: 50px;
}

form {
  width: 80%;
}


/*middle*/

.bg2 {
    height: 768px;
    background-color: #CCCCCC;
    color: #000000;
}

#map {
  margin-top: 100px;
}

.bg2 h2 {
  font-size: 40px;
  margin-top: 50px;
}

.smallMap {
  display: none;
}

.tinyMap {
  display: none;
}

/*footer*/

.footer {
  height: 300px;
  background-color: #003366;
}

.footer h3 {
  margin-top: 100px;
  color: #fff;
}

hr {
  border-top: 1px solid #000;
}

.footer ul {
  list-style-type: none;
  float: left;
  color: #fff;
}

.footer i {
  color: #fff;
  margin-right: 15px;
}

.footer #sitemap a {
  color: #fff;
}

/*Mobile/Tablet mods*/

@media screen and (max-width: 589px) {
  /*landing*/
  .bg1 img {
    margin-top: 150px;
    width: 100%;
    height: auto;
  }

  .bg1 {
    height: auto;
  }

  .text{
    margin-top: 75px;
    margin-bottom: 75px;
  }

  /*button section*/

  .bg2 {
    height: auto;
  }

  .bg2 h2 {
    margin-left: 0px;
    margin-bottom: 70px;
  }

  .bg2 img {
    width: 100%;
    height:auto;
    margin-top: 50px;
  }

  .bigMap {
    display: none;
  }

}

@media screen and (max-width: 991px){
  .bg1{
    height: auto;
  }

  .bg1{
    margin-bottom: 70px;
  }

  .footer {
    height: auto;
    padding-bottom: 70px;
  }
}



/*fixing font awesome chrome bug*/

i.fa {
  -webkit-animation: show 1s 1;
  /* any other properties to override from FontAwesome's default .fa rule */
}
