@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.container-fluid {
  font-family: 'Open Sans', sans-serif;
}

body h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight:800;
}

/*image resize*/
.bg1 img {
  width: 500px;
  height: auto;
}

/*navbar*/

.navbar {
  background-color: #FFCC00;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.navbar-header .navbar-nav li a {
  font-size: 18px;
}

.fa {
  color: #fff;
}

button .navbar .navbar-toggle {
  background-color: #000;
}

.navbar .navbar-toggle {
  background-color: #000;
  border: 1px solid black;
}

.navbar a {
  color: #000;
}

.navbar ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/*Desktop version*/

/*resize bg for button width*/
.bg1 {
  background-color: #FFF;
}

.wrap {
  width: 80%;
  padding-bottom: 160px;
}

.btn-block {
  height: 70px;
  margin-top: 40px;
  margin-bottom: 60px;
}

/*overide boostrap button for larger font */
#custom1 #btn-custom {
  font-size: 18px;
  font weight: bold;
}

.bg2 {
  background-color: #CCCCCC;
  color: #000000;
  padding-bottom: 110px;
}

/*.bg2 .slideshow img {
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 140px;
  border: 1px solid black;
}*/

.bg2 img {
  margin-top: 80px;
  border: 1px solid black;
}

.bg2 h2{
  padding-top: 100px;
  font-size: 40px;
}

.bg2 h3{
  padding-top: 30px;
  font-weight:800;
  font-size: 28px;
}

.bg2 p {
  margin-top: 15px;
  font-size: 18px;
}

/*footer*/

.footer {
  background-color: #003366;
}

.footer h3 {
  margin-top: 100px;
  color: #fff;
}

hr {
  border-top: 1px solid #000;
}

.footer ul {
  list-style-type: none;
  float: left;
  color: #fff;
}

.footer i {
  color: #fff;
  margin-right: 10px;
}

/*Mobile/Tablet mods*/



@media screen and (max-width: 589px) {
  .bg1 img {
    margin-top: 50px;
    width: 250px;
    height: auto;
  }

  .bg2 img {
    width: 80%;
    margin: 0 auto;
    display: block;
  }

  .text1{
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 325px){
  .bg1 img {
    width: 80%;
  }
}

/*fixing font awesome chrome bug*/

i.fa {
  -webkit-animation: show 1s 1;
  /* any other properties to override from FontAwesome's default .fa rule */
}
@-webkit-keyframes show {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
